.twitter-detail {
  margin-left: 5px;
}

.twitter-grid {
  margin: 24px;
}

.twitter-grid-detail {
  padding: 10px;
}

.twitter-grid tbody .success {
  background-color: #dff0d8;
}

.twitter-pager {
  margin-left: 24px;
}

.twitter-row {
  margin-top: 10px;
}

.pagination-text {
    position: relative;
    top: -32px;
    left: 10px;
}