<nav>
  <ul class="pagination">
    <li ng-class="{ disabled: !vm.allowPrevious }">
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#" ng-bind="vm.startPage"></a></li>
    <li><a href="#" ng-bind="vm.startPage + 1"></a></li>
    <li><a href="#" ng-bind="vm.startPage + 2"></a></li>
    <li><a href="#" ng-bind="vm.startPage + 3"></a></li>
    <li><a href="#" ng-bind="vm.startPage + 4"></a></li>
    <li ng-class="{ disabled: !vm.allowNext }">
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>