<nav>
  <ul class="pagination">
    <li ng-class="{ disabled: !vm.allowPrevious }" ng-click="vm.doPrevious()">
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li ng-repeat="page in vm.pages" ng-class="{ active: (page === vm.currentPage)}"
        ng-click="vm.selectPage(page)"><a href="#" ng-bind="page"></a></li>
    <li ng-class="{ disabled: !vm.allowNext }" ng-click="vm.doNext()">
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>