<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#" ng-bind="vm.currentPage"></a></li>
    <li><a href="#" ng-bind="vm.currentPage + 1"></a></li>
    <li><a href="#" ng-bind="vm.currentPage + 2"></a></li>
    <li><a href="#" ng-bind="vm.currentPage + 3"></a></li>
    <li><a href="#" ng-bind="vm.currentPage + 4"></a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>