doctype html
html(ng-app="app")
    head
        link(rel="stylesheet" type="text/css" href="bower/normalize.css/normalize.css")
        link(rel="stylesheet" type="text/css" href="bower/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" type="text/css" href="content/css/site.css")

    body(ng-controller="indexController as vm")
        div.container-fluid
            div.row
                div.col-xs-12.col-md-12.col-lg-12
                    jc-twitter-grid(tweets="vm.service.tweets")
        script(src="bower/jquery/dist/jquery.js")
        script(src="bower/angular/angular.js")
        script(src="bower/angular-ui-router/release/angular-ui-router.js")
        script(src="bower/angular-sanitize/angular-sanitize.js")
        script(src="scripts/app.js")
        script(src="scripts/templates.js")
        script(src="scripts/indexService.js")
        script(src="scripts/indexController.js")
        script(src="scripts/twitterDateFilter.js")
        script(src="scripts/twitterTextFilter.js")
        script(src="scripts/jcPagination.js")
        script(src="scripts/jcPaginationController.js")
        script(src="scripts/jcTwitterGrid.js")
        script(src="scripts/jcTwitterGridController.js")
