doctype html
html(ng-app="app")
    head
        link(rel="stylesheet" type="text/css" href="bower/normalize.css/normalize.css")
        link(rel="stylesheet" type="text/css" href="bower/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" type="text/css" href="content/css/site.css")

    body(ng-controller="indexController as vm")
        div This is a test...

        table
            thead
                tr
                    td Text
            tbody
                tr(ng-repeat="tweet in vm.service.tweets")
                    td(ng-bind="tweet.text")
        script(src="bower/jquery/dist/jquery.js")
        script(src="bower/angular/angular.js")
        script(src="bower/angular-ui-router/release/angular-ui-router.js")
        script(src="scripts/app.js")
        script(src="scripts/indexService.js")
        script(src="scripts/indexController.js")