doctype html
html(ng-app="app")
    head
        link(rel="stylesheet" type="text/css" href="bower/normalize.css/normalize.css")
        link(rel="stylesheet" type="text/css" href="bower/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" type="text/css" href="content/css/site.css")

    body(ng-controller="indexController as vm")
        table
            thead
                tr
                    td Date
                    td Text
                    td Retweets
                    td Favorites
            tbody
                tr(ng-repeat="tweet in vm.service.tweets")
                    td(ng-bind="tweet.created_at | twitterDate")
                    td(ng-bind-html="tweet | twitterText")
                    td(ng-bind="tweet.retweet_count")
                    td(ng-bind="tweet.favorite_count")
        script(src="bower/jquery/dist/jquery.js")
        script(src="bower/angular/angular.js")
        script(src="bower/angular-ui-router/release/angular-ui-router.js")
        script(src="bower/angular-sanitize/angular-sanitize.js")
        script(src="scripts/app.js")
        script(src="scripts/indexService.js")
        script(src="scripts/indexController.js")
        script(src="scripts/twitterDateFilter.js")
        script(src="scripts/twitterTextFilter.js")
