doctype html
html(ng-app="app")
    head
        link(rel="stylesheet" type="text/css" href="bower/normalize.css/normalize.css")
        link(rel="stylesheet" type="text/css" href="bower/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" type="text/css" href="content/css/site.css")

    body(ng-controller="indexController as vm")
        div.container-fluid
            div.row
                div.col-xs-12.col-md-12.col-lg-12
                    table.twitter-grid.table-bordered.table-hover
                        tbody
                            tr(ng-repeat="tweet in vm.service.tweets", ng-class="{success: tweet.selected}")
                                td.twitter-grid-detail
                                    input(type="checkbox", ng-click="tweet.selected = !tweet.selected")
                                td.twitter-grid-detail
                                    div
                                        span Date:
                                        span.twitter-detail(ng-bind="tweet.created_at | twitterDate")
                                        span.twitter-detail Retweeted:
                                        span.twitter-detail(ng-bind="tweet.retweet_count")
                                        span.twitter-detail Favorites:
                                        span.twitter-detail(ng-bind="tweet.favorite_count")
                                    div(ng-bind-html="tweet | twitterText")
        script(src="bower/jquery/dist/jquery.js")
        script(src="bower/angular/angular.js")
        script(src="bower/angular-ui-router/release/angular-ui-router.js")
        script(src="bower/angular-sanitize/angular-sanitize.js")
        script(src="scripts/app.js")
        script(src="scripts/indexService.js")
        script(src="scripts/indexController.js")
        script(src="scripts/twitterDateFilter.js")
        script(src="scripts/twitterTextFilter.js")
