doctype html
html(data-ng-app="app")
    head
        link(rel="stylesheet" type="text/css" href="bower/normalize.css/normalize.css")
        link(rel="stylesheet" type="text/css" href="bower/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" type="text/css" href="content/css/site.css")

    body()
        div This is a test...